<div *ngIf="datafile">
  
    <h2>Datafile: {{ datafile.name}}</h2>
    <div>
      <span>id: </span>{{datafile.id}}</div>
    <div>
      <label>Name:
        <input [(ngModel)]="datafile.name" disabled/>
      </label>
    </div>
    <div>
      <label>Version:
        <input [(ngModel)]="datafile.version" disabled/>
      </label>
    </div>
    <div>
      <label>Description:
        <input [(ngModel)]="datafile.description" disabled/>
      </label>
    </div>
    <button (click)="goBack()">go back</button>
  </div>
