<div *ngIf="platform">
  <h2>Platform: {{ platform.name}}</h2>
  <div>
    <span>id: </span>{{platform.id}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="platform.name" disabled/>
    </label>
  </div>
  <div>
    <label>Short name:
      <input [(ngModel)]="platform.shortName" disabled/>
    </label>
  </div>
  <div>
    <label>Alternate names:
      <input [(ngModel)]="platform.alternateNames" disabled ng-list/>
    </label>
  </div>
  <button (click)="getHistories()">File Import History</button>
  <button (click)="goBack()">go back</button>

  <div *ngIf="histories">
    <h2>File Imort History</h2>
    <ul class="grids">
      <li *ngFor="let history of histories">
        <span class="badge">{{history.id}}</span> {{history.description}}
      </li>
    </ul>
  </div>
</div>
